@model UnitViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Unit.Name</dd>

        <dt class="col-sm-2">Epithet</dt>
        <dd class="col-sm-10">@Model.Unit.Epithet</dd>

        <dt class="col-sm-2">Entry 1</dt>
        <dd class="col-sm-10">@((Model.Unit.Entry1==null)?"":Model.Unit.Entry1.Name)</dd>

        <dt class="col-sm-2">Entry 2</dt>
        <dd class="col-sm-10">@((Model.Unit.Entry2==null) ? "": Model.Unit.Entry2.Name)</dd>

        <dt class="col-sm-2">Move Type</dt>
        <dd class="col-sm-10">@((Model.Unit.MoveType==null)?"":Model.Unit.MoveType.Name)</dd>

        <dt class="col-sm-2">Weapon Type</dt>
        <dd class="col-sm-10">
            @if (Model.Unit.WeaponType != null && Model.Unit.WeaponType.WeaponTypeID > 3)
            {
                @Model.Unit.WeaponType.Color
            }
            @Model.Unit.WeaponType.Weapon
        </dd>
        <dt class="col-sm-2">Special Type</dt>
        <dd class="col-sm-10">@((Model.Unit.SpecialType==null)?"":Model.Unit.SpecialType.Name)</dd>

        <dt class="col-sm-2">Availability</dt>
        <dd class="col-sm-10">@((Model.Unit.Availability==null)?"":Model.Unit.Availability.Name)</dd>

        <dt class="col-sm-2">Lowest Rarity</dt>
        <dd class="col-sm-10">@Model.Unit.LowestRarity</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Unit.UnitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
