@model UnitViewModel

@{
    ViewBag.Title = $"{ViewBag.Action} Unit";
    //ViewData["Title"] = "Edit";
}

<h1>@ViewBag.Action Unit</h1>

<h4>Unit</h4>
<hr />
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Unit.UnitID" />
    <div class="form-group row">
        <label asp-for="@Model.Unit.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Unit.Name" class="form-control" />
            <span asp-validation-for="@Model.Unit.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.Epithet" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Unit.Epithet" class="form-control" />
            <span asp-validation-for="@Model.Unit.Epithet" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.Entry1ID" class="col-sm-2 col-form-label">Entry 1</label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.Entry1ID" class="form-control">
                <option value="0">Select an entry</option>
                @foreach (Entry e in Model.Entries)
                {
                    <option value="@e.EntryID">@e.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.Entry2" class="col-sm-2 col-form-label">Entry 2</label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.Entry2ID" class="form-control">
                <option value="0">None</option>
                @foreach (Entry e in Model.Entries)
                {
                    <option value="@e.EntryID">@e.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.MoveTypeID" class="col-sm-2 col-form-label">Movement Type</label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.MoveTypeID" class="form-control">
                <option value="0">Select a movement type</option>
                @foreach (MoveType m in Model.MoveTypes)
                {
                    <option value="@m.MoveTypeID">@m.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.WeaponTypeID" class="col-sm-2 col-form-label">Weapon Type</label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.WeaponTypeID" class="form-control">
                <option value="0">Select a weapon type</option>
                @foreach (WeaponType w in Model.WeaponTypes)
                {
                    @if (w.WeaponTypeID <= 3)
                    {
                        <option value="@w.WeaponTypeID">@w.Weapon</option>
                    }
                    else
                    {
                        <option value="@w.WeaponTypeID">@w.Color @w.Weapon</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.SpecialTypeID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.SpecialTypeID" class="form-control">
                <option value="0">None</option>
                @foreach (SpecialType t in Model.SpecialTypes)
                {
                    <option value="@t.SpecialTypeID">@t.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.AvailabilityID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.Unit.AvailabilityID" class="form-control">
                <option value="0">Select an availability</option>
                @foreach (Availability a in Model.Availabilities)
                {
                    <option value="@a.AvailabilityID">@a.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Unit.LowestRarity" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Unit.LowestRarity" class="form-control" />
            <span asp-validation-for="@Model.Unit.LowestRarity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="form-group row">
    <div class="col-sm-10">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
