@model Unit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epithet" class="control-label"></label>
                <input asp-for="Epithet" class="form-control" />
                <span asp-validation-for="Epithet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry1" class="control-label"></label>
                <input asp-for="Entry1" class="form-control" />
                <span asp-validation-for="Entry1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry2" class="control-label"></label>
                <input asp-for="Entry2" class="form-control" />
                <span asp-validation-for="Entry2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoveTypeID" class="control-label"></label>
                <select asp-for="MoveTypeID" class="form-control">
                    <option value="0">Select a movement type</option>
                    @foreach (MoveType m in ViewBag.MoveTypes)
                    {
                        <option value="@m.MoveTypeID">@m.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WeaponTypeID" class="control-label"></label>
                <select asp-for="WeaponTypeID" class="form-control">
                    <option value="0">Select a weapon type</option>
                    @foreach (WeaponType w in ViewBag.WeaponTypes)
                    {
                        <option value="@w.WeaponTypeID">@w.Color @w.Weapon</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SpecialType" class="control-label"></label>
                <input asp-for="SpecialType" class="form-control" />
                <span asp-validation-for="SpecialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <input asp-for="Availability" class="form-control" />
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowestRarity" class="control-label"></label>
                <input asp-for="LowestRarity" class="form-control" />
                <span asp-validation-for="LowestRarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
