@model IEnumerable<Build>

@{
    ViewBag.Title = "Build Manager";
}

<a asp-action="Add" asp-controller="Build" class="ml-2">Add Build</a>
<table class="table mt-2">
    <thead>
        <tr>
            <th>Build Name</th>
            <th>Unit</th>
            <th>Weapon</th>
            <th>A Skill</th>
            <th>B Skill</th>
            <th>C Skill</th>
            <th>S Skill</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Build build in Model)
        {
        <tr>
            <td>@build.Name</td>
            <td>@build.Unit.Name</td>
            <td>@((build.WeaponID == null) ? "sus!" : build.Weapon.Name)</td>
            <td>@((build.A_SkillID == null) ? "sus!" : build.A_Skill.Name)</td>
            <td>@((build.B_SkillID == null) ? "sus!" : build.B_Skill.Name)</td>
            <td>@((build.C_SkillID == null) ? "sus!" : build.C_Skill.Name)</td>
            <td>@((build.S_SkillID == null) ? "sus!" : build.S_Skill.Name)</td>
            @*<td>@build.A_Skill.Name</td>
        <td>@build.B_Skill.Name</td>
        <td>@build.C_Skill.Name</td>
        <td>@build.S_Skill.Name</td>*@
        </tr>
        }
    </tbody>
</table>
