@model SkillViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Name</dt>
        <dd class = "col-sm-10">@Model.Skill.Name</dd>
        <dt class = "col-sm-2">Slot</dt>
        <dd class = "col-sm-10">@Model.Skill.Slot.Name</dd>
        <dt class = "col-sm-2">SP</dt>
        <dd class = "col-sm-10">@Model.Skill.SP</dd>
        <dt class = "col-sm-2">Description</dt>
        <dd class = "col-sm-10">@Model.Skill.Description</dd>
        <dt class = "col-sm-2">Inheritable</dt>
        <dd class = "col-sm-10">@Model.Skill.Inheritable</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Skill.SkillID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
